/**
超过一行打点
 */
@mixin one-dot() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
多行打点
 */
@mixin mr-dot($line: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  word-break: break-all;
}
